*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
/* Site-Container */
body{
    width: 1920px;
    background-color: #eee;
}

/* Logo */
.logo{
    background-color: white;
    width: 1920px;
    height: 60px;
}

h1{
    display: inline-block;
    font-size: 40px;
    line-height: 60px;
}
/* Container */
.container{
    background: white;
    width: 1260px;
    height: 800px;
    margin: 50px 300px 10px;
    border-radius: 8px;
}

/* Barra-nav */

.task{
    background: #47ADF1 ;
    display: inline-block;
    line-height: 50px;
    border-radius: 10px;
    margin: 15px 20px 15px 100px;
    padding: 0px 20px 0px 20px;
}
.section{
    color:#EAECEE ;
    display: inline-block;
    line-height: 50px;
    border:#EAECEE solid;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
}

hr{
    height: 2px;
    background-color: #eee;
}
