*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
/* Site-Container */
body{
    width: 1920px;
    background-color: #eee;
}

/* Logo */
.logo{
    background-color: white;
    width: 1920px;
    height: 60px;
}

h1{
    display: inline-block;
    font-size: 40px;
    line-height: 60px;
}
/* Container */
.container{
    background: white;
    width: 1260px;
    height: 700px;
    margin: 50px 300px 10px;
    border-radius: 8px;
    padding-left: 0px;
}

.todo-list{
    margin: 30px 0px 0px 40px;
}
/* Barra-nav */

.task{
    background: #47ADF1 ;
    display: inline-block;
    line-height: 40px;
    border-radius: 10px;
    margin: 15px 20px 15px 100px;
    padding: 0px 20px 0px 20px;
    height: 40px;
    vertical-align: middle;
}
.section{
    color:#EAECEE ;
    display: inline-block;
    line-height: 40px;
    border:#EAECEE solid;
    border-radius: 10px;
    padding: 0px 20px 0px 20px;
    height: 40px;
    vertical-align: middle;
}

hr{
    height: 2px;
    background-color: #eee;
}
/* New-Task */
.new-task{
    font-weight: 500;
    vertical-align: middle;
    line-height: 40px;
}

.editorial{
    background: #47ADF1 ;
    display: inline-block;
    line-height: 30px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 15px;
    padding: 0px 10px 0px 10px;
    height: 30px;
    vertical-align: middle;
}
.goals{
    background: #9C72E4 ;
    display: inline-block;
    line-height: 30px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 15px;
    padding: 0px 10px 0px 10px;
}
.recruiting{
    background: #64C0A9 ;
    display: inline-block;
    line-height: 30px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 15px;
    padding: 0px 10px 0px 10px;
    height: 30px;
    vertical-align: middle;
}
.mobile{
    background: #F29E33 ;
    display: inline-block;
    line-height: 30px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 15px;
    padding: 0px 10px 0px 10px;
    height: 30px;
    vertical-align: middle;
}

.website{
    background: #D863A1 ;
    display: inline-block;
    line-height: 30px;
    border-radius: 12px;
    font-size: 12px;
    margin-left: 15px;
    padding: 0px 10px 0px 10px;
    height: 30px;
    vertical-align: middle;
}
.sales{
    background: #B0C926 ;
    display: inline-block;
    line-height: 30px;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 15px;
    padding: 0px 10px 0px 10px;
    height: 30px;
    vertical-align: middle;
}
.spunta{
    display: inline-block;
    color: green;
    border-radius: 50%;
    border: 1px green solid;
    height: 20px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    padding-left: 2px;
}
.x{
    display: inline-block;
    color: red;
    border-radius: 50%;
    border: 1px red solid;
    height: 20px;
    width: 20px;
    line-height: 20px;
    vertical-align: middle;
    padding-left: 5px;
}

ul{
    list-style: none;
    display: inline-block;
    margin-bottom: 20px;
    
}

/* Today */
.today{
    font-weight: 500;
    line-height: 40px;
    padding-left: 0px;

}
/* Upcoming */
.upcoming{
    font-weight: 500;
    line-height: 40px;
}